* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'TStar-Regular';
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #000;
}
:root{
    --dark-green: #008453;
    --light-green: #649c41;
    --lemon-green: #c3cd4c;
}
body.home header:not(.landing-header), body.home footer{
    display: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'TStar-Headline';
    margin-top: 0;
    margin-bottom: 20px;
    line-height: normal;
}
strong, b{
    font-family: 'TStar-Bold';
}
.heading--bold{
    font-family: 'TStar-Bold';
}
.heading--green{
    color: var(--dark-green);
}
.heading--green-light{
    color: var(--light-green);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex: 1;
    position: relative;
}
a{
    text-decoration: none;
    outline: none !important;
}
img {
    max-width: 100%;
    max-height: 100%;
}
a.btn, button.btn{
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-family: 'TStar-Headline';
    text-transform: uppercase; 
    font-size: 15px;
    padding: 8px 14px;
    background-color: var(--dark-green);
    letter-spacing: 0.5px;
}
button.btn{
    border: none;
    color: #FFF;
    border-radius: 0;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
}
a.btn.big-text, button.btn{
    font-size: 20.8px;
    padding: 8px 16px;
}
a.btn.black{
    background-color: #000;
}
.container{
    max-width: calc(100% - 30px);
    margin: auto;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 27px;
    line-height: normal;
}
h3{
    font-size: 24px;
}
.unstyled-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.icon-btn{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.has-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-center{
    text-align: center;
}
/*======= Header =======*/
.site-header {
    border-top: 13px solid transparent;
    border-image: url('../images/site-border.svg');
    border-image-slice: 15;
    padding: 30px 0;
}
.site-branding {
    line-height: normal;
}
.site-header .container{
    max-width: calc(100% - 80px);
}
.site-branding img{
    border-right: 0.5px solid #707070;
    padding-right: 34px;
    width: 147px;
}
.site-branding a {    
    display: inline-flex;
    align-items: center;
}
.logo--title{
    font-size: 37px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'TStar-Headline';
    padding-left: 34px;
    white-space: nowrap;
}
.site-navigation-wrap {
    margin-left: 34px;
}
.site-navigation-wrap ul li{
    display: inline-block;
    margin-right: 30px;
}
.site-navigation-wrap a{
    font-family: 'TStar-Bold';
    color: rgba(0, 0, 0, 0.7);
}
nav{
    align-items: center;
}
/*======= Header Ends =======*/

/*======= Landing Page =======*/
.landing-header{
    position: absolute;
    z-index: 9;
    top: 30px;
    left: 0;
    width: 100%;
}
.landing-header .container{
    max-width: calc(100% - 76px);
}
.landing-header .site-branding img{
    filter: grayscale(1) brightness(2);
    border-color: #FFF;
}
.border-wrap--landing{
    border-top: 7px solid transparent;
    border-bottom: 11px solid transparent;
    border-image: url('../images/site-border.svg');
    border-image-slice: 15;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
}
.border-wrap--landing .home--landing{
    flex: 1 1 auto;
}
.border-wrap--landing .row {
    height: 100%;
    justify-content: center;
}
.border-wrap--landing .landing--description{
    flex: 0 1 auto;
}
.home--landing {
    text-align: center;
}
.home--landing h2{
    margin-bottom: 24px;
    font-size: 40px;
}
.home--landing .col-inner{
    position: relative;
    color: #FFF;    
    padding-bottom: 90px;
    margin-top: auto;
}
.home--landing .col {
    background: #398157;
}
.home--landing .col:nth-of-type(2), .btn.light {
    background: #719A4D;
}
.home--landing .col:nth-of-type(3) {
    background: #C6CB61;
}
.home--landing .col-inner *{
    z-index: 3;
    position: relative;
}
.home--landing .col:nth-child(2) a.btn{
    background-color: var(--light-green);
}
.home--landing .col:nth-child(3) a.btn{
    background-color: var(--lemon-green);
}
.home--landing figure{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2; 
    margin: 0;
    overflow: hidden;
}
.home--landing figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-out;
}
.landing--description{
    padding: 40px 0;
    background: var(--dark-green);
    text-align: center;
    color: #FFF;    
}
.landing--description h3{
    text-transform: uppercase;
}
.landing--description p{
    margin: 0;
    font-size: 15px;
    line-height: 19px;
}
.home--landing .col:hover figure{
    opacity: 0.6;
}
.home--landing .col:hover figure img{
    transform: scale(1.05);
}
/*======= Landing Page Ends =======*/

/*======= Homepage B2C  =======*/
.common--slider {
    color: #FFF;
}
.common--slider .b2c-slider-inner{
    max-width: calc(100% - 168px);
    margin: auto;
    padding: 294px 0 70px;
}
.common--slider .swiper-pagination-bullets{
    bottom: 26px !important;
}
.common--slider .swiper-pagination-bullet{
    width: 9px;
    height: 9px;
    background: transparent;
    border: 1px solid #FFF;
    opacity: 1;
    cursor: pointer;
}
.common--slider .swiper-pagination-bullet-active{
    background: #D9D9D9;
}
#b2c-slider .b2c-slider-inner > div{
    width: 50%;
}
.common--slider h2{
    font-size: 30px;
    margin-bottom: 18px;
    letter-spacing: 2px;
}
.common--slider p{
    font-size: 27px;
    margin: 0 0 26px 0;
    font-family: 'TStar-Bold';
    letter-spacing: 2px;
}
.highlighted_section{
    background-color: #F7F4F4;
}
.featured--women .container{
    padding: 60px 0 15px;
}
.featured--women h2{
    font-size: 27px;
    color: var(--dark-green);
    text-transform: uppercase;
}
.fair-trade{
    padding: 50px 0;
}
.fair-trade strong, .fair-trade b{
    color: var(--dark-green);
}
.oxfam-gifts {
    color: #FFF;
    padding: 53px 0 53px;
}
.oxfam-gifts .row{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 47px 55px;
}
.oxfam-gifts h2{
    font-size: 35px;
    margin-bottom: 10px;
}
.oxfam-gifts .col{
    flex: 0 0 27%;
}
.oxfam-gifts p{
    font-family: 'TStar-Bold';
    margin: 0 0 20px 0;
}
.oxfam-gifts a.btn{
    background-color: #65AF2B;
}
.product--catalog{
    padding: 68px 0 90px;
}
.product--catalog h2{
    color: var(--dark-green);
    margin-bottom: 30px;
}
.catalog--col{
    width: calc(100% / 6);
    padding: 0 12px;
}
.catalog--col .round--img{
    width: 153px;
    height: 153px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.catalog--col .round--img img{
    object-fit: cover;
    object-position: 0 0;
    width: 100%;
    height: 100%;    
}
.catalog--col .catalog--name{
    color: #5D5D5D;
    font-size: 22px;
    font-family: 'TStar-Bold';
}
.discover-the-project {
    margin-top: 84px;
}
.discover-the-project h2{
    font-size: 35px;
    line-height: 42px;
    width: 28%;
}
.discover-the-project p{
    font-family: 'TStar-Medium'; 
    padding-right: 22%;   
}
.discover-the-project a.btn{
    margin-top: 24px;
}
.discover-the-project .col {
    width: 50%;
    flex: 0 0 50%;
}
.discover-the-project .img--col img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.discover-the-project .content--col{
    box-shadow: 0 1px 7px rgb(0 0 0 / .16);
    padding: 55px 60px 36px 70px;
}
.discover-the-project .pr--logo{
    text-align: right;
    margin-top: 10px;
}
/*======= Homepage B2C Ends =======*/

/*======= Homepage B2B Retailer =======*/
.brand--retailer{
    padding: 50px 0;
}
.brand--retailer .brand--listing{
    margin-left: -75px;
    margin-right: -75px;
}
.brand--listing .col{
    padding: 0 25px;
}
.brand--listing figure{
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    width: 241px;
    height: 153px;
}
.brand--listing figure img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.impact .row{
    background: #F7F4F4;
    padding: 30px;
}
.impact .row .col{    
    padding: 0 30px;
}
.impact .row .col:first-of-type{
    border-right: 0.5px solid #C9C7C7;
}
.impact h2{
    margin: 10px 0 12px;
    color: var(--light-green);
}
.impact p{
    margin: 0;
}
.featured--women.b2b h2{
    color: var(--light-green);
}
.dealer--why{
    padding: 70px 0 60px;
}
.dealer--register{
    transform: translateY(-40%);
}
.dealer--register .row{
    align-items: center;
    justify-content: space-between;
    color: #FFFF;
    padding: 34px 60px;
}
.dealer--register h2{
    margin-bottom: 8px;
}
.dealer--register p{
    font-family: 'TStar-Bold';
    font-size: 22px;
    margin: 0;
}
.dealer--register button.btn{
    padding: 10px 24px;
}
/*======= Homepage B2B Retailer Ends =======*/

/*======= About Page =======*/
.about--banner{
    color: #FFF;
    padding: 10vw 0;
}
.about--banner h1{
    line-height: 40px;
}
.improving-lives{
    position: relative;
    margin-bottom: 50px;
}
.improving-lives:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    background-color: #F7F4F4;
    z-index: -1;
    height: calc(100% - 50px);
}
.improving-lives .row{
    align-items: center;
}
.improving-lives .img--col figure{
    width: 291px;
    height: 291px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
}
.improving-lives .img--col figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.improving-lives .content--col{
    padding-right: 5vw;
}
.improving-lives p{
    margin: 0;
}
.about-section-1 {
    padding: 45px 0;
}
.about-section-3 img{
    margin: 10px 0;
}
.about-section-4 {
    padding: 30px 0 70px;
}
.about-section-4 .row{
    margin-left: -50px;
    margin-right: -50px;
}
.about-section-4 .col{
    padding: 0 50px;
}
.about-section-4 h4{
    font-size: 22px;
}
.about-section-4 p{
    font-size: 14px;
}
/*======= About Page Ends =======*/

/*======= Footer =======*/
.site-footer .footer-bg{
    color: #FFF;
}
.site-footer .footer-bg{
    background-color: var(--dark-green);
    border-bottom: 13px solid transparent;
    border-image: url('../images/site-border.svg');
    border-image-slice: 15;
    padding: 50px 0;
}
.site-footer .footer-bg a{
    color: #FFF;
    font-family: 'TStar-Medium';
}
.site-footer h3{
    text-transform: uppercase;  
    font-size: 18px;  
    margin-bottom: 18px;
}
.footer-bg .col{
    padding: 0 20px;
    flex: auto;
}
.footer-bg .col:not(:last-of-type){
    border-right: 1px solid #FFF;
}
.copyright-footer{
    text-align: center;
    padding: 15px 0;
    font-size: 13px;
    width: 100%;
    color: #000;
}
/*======= Footer Ends =======*/


@media (min-width: 1200px){
    .container{
        max-width: 1040px;
    }
    .container.container-sm{
        max-width: 922px;
    }
}