* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'TStar-Regular';
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #000;
}
:root{
    --dark-green: #008453;
    --light-green: #649c41;
    --lemon-green: #c3cd4c;
}
body.home header:not(.landing-header), body.home footer{
    display: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'TStar-Headline';
    margin-top: 0;
    margin-bottom: 20px;
    line-height: normal;
    letter-spacing: 0.5px;
}
strong, b{
    font-family: 'TStar-Bold';
}
.heading--bold{
    font-family: 'TStar-Bold';
}
.heading--green{
    color: var(--dark-green);
}
.heading--green-light{
    color: var(--light-green);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row {
    width: 100%;
}
.col{
    flex: 1;
    position: relative;
}
.col-12{
    flex: 0 0 100%;
}
a{
    text-decoration: none;
    outline: none !important;
}
img {
    max-width: 100%;
    max-height: 100%;
}
a.btn, button.btn{
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-family: 'TStar-Headline';
    text-transform: uppercase; 
    font-size: 15px;
    padding: 8px 14px;
    background-color: var(--dark-green);
    letter-spacing: 0.5px;
}
button.btn{
    border: none;
    color: #FFF;
    border-radius: 0;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
}
a.btn.big-text, button.btn{
    font-size: 20.8px;
    padding: 8px 16px;
}
a.btn.black{
    background-color: #000;
}
.container{
    max-width: calc(100% - 30px);
    margin: auto;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 27px;
    line-height: normal;
}
h3{
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
.unstyled-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.icon-btn{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}
.has-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-center{
    text-align: center;
}
.common-banner  {
    color: #FFF;
}
/*======= Header =======*/
.site-header {
    border-top: 13px solid transparent;
    border-image: url('../images/site-border.svg');
    border-image-slice: 15;
    padding: 30px 0;
}
.site-branding {
    line-height: normal;
}
.site-header .container{
    max-width: calc(100% - 80px);
}
.site-branding img{
    border-right: 0.5px solid #707070;
    padding-right: 34px;
    width: 147px;
}
.site-branding a {    
    display: inline-flex;
    align-items: center;
}
.logo--title{
    font-size: 37px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'TStar-Headline';
    padding-left: 34px;
    white-space: nowrap;
}
.site-navigation-wrap {
    margin-left: 34px;
}
.site-navigation-wrap ul li{
    display: inline-block;
    margin-right: 30px;
}
.site-header a{
    font-family: 'TStar-Bold';
    color: rgba(0, 0, 0, 0.7);
}
nav{
    align-items: center;
}
.nav-list--2 {
    display: inline-flex;
    width: auto;
    align-items: center;
    margin-left: auto;
}
.nav-list--2 > li:not(:last-child){
    margin-right: 30px;
}
.icon-button.cart{
    border: none;
    padding: 0;
    background: transparent;
    position: relative;
}
.activeHomeWrap{
    position: relative;
    font-family: 'TStar-Bold';
    cursor: pointer;
}
#activeHome{
    color: #008453;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
}
#activeHome img{
    margin-left: 8px;
}
.homepages-dropdown{
    position: relative;
    background: #FFF;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
    padding: 1.2rem 1rem 1rem;
    z-index: 9;
    box-shadow: 0 0 2px #c0c0c0;
}
.activeHomeWrap:hover .homepages-dropdown, .homepages-dropdown:hover{
    visibility: visible;
    opacity: 1;
    display: block;
}
.site-header .cart-count{
    border-radius: 50%;
    background-color: var(--dark-green);
    color: white;
    padding: 0.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(-50%);
    left: calc(100% - 10px);
    font-size: 13px;
    width: 20px;
    height: 20px;
}
.site-header .cart-count.cart--big{
    width: auto;
    height: auto;
    min-width: 20px;
    min-height: 20px;
    padding: 3px;
}
.site-header .cart-count > span{
    overflow: visible;
    height: 0;
    margin-top: -1em;    
}
.site-header .cart-count:after{
    content: '';
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
}
/*======= Header Ends =======*/

/*======= Landing Page =======*/
.landing-header{
    position: absolute;
    z-index: 9;
    top: 30px;
    left: 0;
    width: 100%;
}
.landing-header .container{
    max-width: calc(100% - 76px);
}
.landing-header .site-branding img{
    filter: grayscale(1) brightness(2);
    border-color: #FFF;
}
.border-wrap--landing{
    border-top: 7px solid transparent;
    border-bottom: 11px solid transparent;
    border-image: url('../images/site-border.svg');
    border-image-slice: 15;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
}
.border-wrap--landing .home--landing{
    flex: 1 1 auto;
}
.border-wrap--landing .row {
    height: 100%;
    justify-content: center;
}
.border-wrap--landing .landing--description{
    flex: 0 1 auto;
}
.home--landing {
    text-align: center;
}
.home--landing h2{
    margin-bottom: 24px;
    font-size: 40px;
}
.home--landing .col-inner{
    position: relative;
    color: #FFF;    
    padding-bottom: 90px;
    margin-top: auto;
}
.home--landing .col {
    background: #398157;
}
.home--landing .col:nth-of-type(2), .btn.light {
    background: #719A4D;
}
.home--landing .col:nth-of-type(3), .btn.lemon {
    background: #C6CB61;
}
.home--landing .col-inner *{
    z-index: 3;
    position: relative;
}
.home--landing .col:nth-child(2) a.btn{
    background-color: var(--light-green);
}
.home--landing .col:nth-child(3) a.btn{
    background-color: var(--lemon-green);
}
.home--landing figure{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2; 
    margin: 0;
    overflow: hidden;
}
.home--landing figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-out;
}
.landing--description{
    padding: 40px 0;
    background: var(--dark-green);
    text-align: center;
    color: #FFF;    
}
.landing--description h3{
    text-transform: uppercase;
}
.landing--description p{
    margin: 0;
    font-size: 15px;
    line-height: 19px;
}
.home--landing .col:hover figure{
    opacity: 0.6;
}
.home--landing .col:hover figure img{
    transform: scale(1.05);
}
/*======= Landing Page Ends =======*/

/*======= Homepage B2C  =======*/
.common--slider {
    color: #FFF;
}
.common--slider .b2c-slider-inner{
    max-width: calc(100% - 168px);
    margin: auto;
    padding: 294px 0 70px;
}
.common--slider .swiper-pagination-bullets{
    bottom: 26px !important;
}
.common--slider .swiper-pagination-bullet{
    width: 9px;
    height: 9px;
    background: transparent;
    border: 1px solid #FFF;
    opacity: 1;
    cursor: pointer;
}
.common--slider .swiper-pagination-bullet-active{
    background: #D9D9D9;
}
#b2c-slider .b2c-slider-inner > div{
    width: 50%;
}
.common--slider h2{
    font-size: 30px;
    margin-bottom: 18px;
    letter-spacing: 2px;
}
.common--slider p{
    font-size: 27px;
    margin: 0 0 26px 0;
    font-family: 'TStar-Bold';
    letter-spacing: 2px;
}
.highlighted_section{
    background-color: #F7F4F4;
}
.featured--women .container{
    padding: 60px 0 15px;
}
.featured--women h2{
    font-size: 27px;
    color: var(--dark-green);
    text-transform: uppercase;
}
.fair-trade{
    padding: 50px 0;
}
.fair-trade strong, .fair-trade b{
    color: var(--dark-green);
}
.oxfam-gifts {
    color: #FFF;
    padding: 53px 0 53px;
}
.oxfam-gifts .row{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 47px 55px;
}
.oxfam-gifts h2{
    font-size: 35px;
    margin-bottom: 10px;
}
.oxfam-gifts .col{
    flex: 0 0 27%;
}
.oxfam-gifts p{
    font-family: 'TStar-Bold';
    margin: 0 0 20px 0;
}
.oxfam-gifts a.btn{
    background-color: #65AF2B;
}
.product--catalog{
    padding: 68px 0 90px;
}
.product--catalog h2{
    color: var(--dark-green);
    margin-bottom: 30px;
}
.catalog--col{
    width: calc(100% / 6);
    padding: 0 12px;
}
.catalog--col .round--img{
    width: 153px;
    height: 153px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.catalog--col .round--img img{
    object-fit: cover;
    object-position: 0 0;
    width: 100%;
    height: 100%;    
}
.catalog--col .catalog--name{
    color: #5D5D5D;
    font-size: 22px;
    font-family: 'TStar-Bold';
}
.discover-the-project {
    margin-top: 84px;
}
.discover-the-project h2{
    font-size: 35px;
    line-height: 42px;
    width: 28%;
}
.discover-the-project p{
    font-family: 'TStar-Medium'; 
    padding-right: 22%;   
}
.discover-the-project a.btn{
    margin-top: 24px;
}
.discover-the-project .col {
    width: 50%;
    flex: 0 0 50%;
}
.discover-the-project .img--col img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.discover-the-project .content--col{
    box-shadow: 0 1px 7px rgb(0 0 0 / .16);
    padding: 55px 60px 36px 70px;
}
.discover-the-project .pr--logo{
    text-align: right;
    margin-top: 10px;
}
/*======= Homepage B2C Ends =======*/

/*======= Homepage B2B Retailer =======*/
.brand--retailer{
    padding: 50px 0;
}
.brand--retailer .brand--listing{
    margin-left: -75px;
    margin-right: -75px;
    width: auto;
}
.brand--listing .col{
    padding: 0 25px;
}
.brand--listing figure{
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    width: 241px;
    height: 153px;
}
.brand--listing figure img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.impact .row{
    background: #F7F4F4;
    padding: 30px;
}
.impact .row .col{    
    padding: 0 30px;
}
.impact .row .col:first-of-type{
    border-right: 0.5px solid #C9C7C7;
}
.impact h2{
    margin: 10px 0 12px;
    color: var(--light-green);
}
.impact p{
    margin: 0;
}
.featured--women.b2b h2{
    color: var(--light-green);
}
.dealer--why{
    padding: 70px 0 60px;
}
.dealer--register{
    transform: translateY(-40%);
}
.dealer--register .row{
    align-items: center;
    justify-content: space-between;
    color: #FFFF;
    padding: 34px 60px;
}
.dealer--register h2{
    margin-bottom: 8px;
}
.dealer--register p{
    font-family: 'TStar-Bold';
    font-size: 22px;
    margin: 0;
    letter-spacing: 0.5px;
}
.dealer--register button.btn{
    padding: 10px 24px;
}
/*======= Homepage B2B Retailer Ends =======*/

/*======= Homepage B2B Company =======*/
.fair--trade-companies{
    padding: 60px 0 45px;
}
.fair--trade-companies strong, .fair--trade-companies b{
    color: var(--dark-green);
}
.why-choose--oxfam{
    padding: 65px 0 15px;
}
.dealer--register.register--company{
    transform: none;
    margin-bottom: 75px;
}
.contact--company{
    padding: 43px 0;
}
.contact--company .row{
    padding: 48px 50px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.16);    
}
.contact--company .col:first-of-type{
    flex: 0 0 35%;
}
.contact--company .col:last-of-type{
    flex: 0 0 50%;
    margin-left: auto;
}
.contact--company h2 + p{
    font-size: 22px;
    color: #5D5D5D;
    font-family: 'TStar-Bold';
}
.contact--company input::placeholder, .contact--company textarea::placeholder{
    color: #717171;
}
.contact--company input[type="text"], .contact--company input[type="email"], .contact--company textarea{
    border: none;
    border-bottom: 0.5px solid #9A9A9A;
    border-radius: 0;
    outline: none !important;
    width: 100%;
    padding: 0 0 0.5em 0;
    font-size: 14px;
    font-family: 'TStar-Regular';
}
.contact--company textarea{
    resize: none;
    height: 100px;
}
.contact--company input[type="submit"] {
    background: var(--lemon-green);
    color: #FFF;
    border: none;
    border-radius: 0;
    padding: 0.6em 1.5em;
    text-transform: uppercase;
    font-size: 21px;
    font-family: 'TStar-Headline';
    height: auto;
    outline: none !important;
}
.contact--company p:last-of-type{
    margin-bottom: 0;
}
.contact--company span.wpcf7-list-item{
    margin: 0;
    color: #000;
    font-size: 12px;
    font-family: 'TStar-Medium';
}
.contact--company .privacy--check{
    margin: 8px 0 10px;
}
.contact--company .submit--wrap{
    text-align: right;
    position: relative;
}
.contact--company .submit--wrap .ajax-loader{
    position: absolute;
    right: 8px;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
    filter: brightness(2.5);
}
.contact--company .wpcf7-not-valid-tip, .contact--company .wpcf7 form.invalid .wpcf7-response-output, .contact--company .wpcf7 form.unaccepted .wpcf7-response-output{
    font-size: 13px;
}
.contact--company .privacy--check label{
    cursor: pointer;
}
.contact--company .privacy--check input[type="checkbox"]{
    visibility: hidden;
    position: absolute;
    left: 0;
    width: 0;
}
.contact--company .site--checkbox{
    width: 11.21px;
    height: 11.21px;
    border: 1px solid #707070;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 1px;
}
.contact--company .site--checkbox:before{
    content: '\2713';
    position: absolute;
    left: 0;
    top: -1px;
    font-size: 11px;
    line-height: 11px;
    color: #FFF;
    opacity: 0;
    font-weight: 600;
}
.contact--company input[type="checkbox"]:checked + span.site--checkbox{
    border-color: var(--lemon-green);
    background: var(--lemon-green);
}
.contact--company input[type="checkbox"]:checked + span.site--checkbox:before{
    opacity: 1;
}
/*======= Homepage B2B Company Ends =======*/

/*======= About Page =======*/
.about--banner{
    color: #FFF;
    padding: 10vw 0;
}
.about--banner h1{
    line-height: 40px;
}
.improving-lives{
    position: relative;
    margin-bottom: 50px;
}
.improving-lives:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    background-color: #F7F4F4;
    z-index: -1;
    height: calc(100% - 50px);
}
.improving-lives .row{
    align-items: center;
}
.improving-lives .img--col figure{
    width: 291px;
    height: 291px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
}
.improving-lives .img--col figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.improving-lives .content--col{
    padding-right: 5vw;
}
.improving-lives p{
    margin: 0;
}
.about-section-1 {
    padding: 45px 0;
}
.about-section-3 img{
    margin: 10px 0;
}
.about-section-4 {
    padding: 30px 0 70px;
}
.about-section-4 .row{
    margin-left: -50px;
    margin-right: -50px;
}
.about-section-4 .col{
    padding: 0 50px;
}
.about-section-4 h4{
    font-size: 22px;
}
.about-section-4 p{
    font-size: 14px;
}
.about--disclaimer{
    margin: 30px 0 70px;
}
.about--disclaimer .row > div{
    width: 100%;
}
.about--disclaimer p{
    margin: 0;
}
.about--disclaimer .highlighted--content{
    background: #F7F4F4;
    padding: 2rem 3rem;
    margin: 1.3rem 0 0;
}
.news--insights{
    padding: 50px 0;
}
.news--insights h2{
    margin-bottom: 30px;
}
.news--insights .swiper-container{
    width: 100%;
}
.news--insights .news-col{
    padding: 0 15px;
    position: relative;
    text-align: left;
    color: #FFF;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 255px;
}
.news--insights .news-col figure{
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 30px);
    height: 100%;
    margin: auto;
    display: block;
    z-index: -1;
    right: 0;
}
.news--insights .news-col figure img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.news--insights .news-col h3{
    margin: auto 0 0;
    padding: 30px 20px 30px;
    width: 100%;
}
.news--insights a.btn{
    margin-top: 40px;
}
.news--insights .swiper-button-next:after, .news--insights .swiper-button-prev:after{
    color: #5D5D5D;
}
/*======= About Page Ends =======*/

/*======= Brands Page =======*/
.brands--banner{
    padding: 230px 0 50px;
}
.brands--banner h1{
    letter-spacing: 1.3px;
}
.brands--banner h3{
    font-family: 'TStar-Bold';
    font-size: 23px;
}
.about-brand{
    padding: 65px 0;
}
.about-brand .row, .persone .row{
    align-items: center;
}
.about-brand figure, .persone figure{
    width: 322px;
    height: 322px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
}
.persone figure{
    width: 248px;
    height: 248px;
}
.about-brand figure img, .persone figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-brand .col{
    padding-left: 55px;
}
.about-brand ul, .about-brand ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.about-brand ul li, .about-brand ol li {
    position: relative;
    padding-left: 30px;
}
.about-brand ul li:not(:last-child), .about-brand ol li:not(:last-child){
    margin-bottom: 24px;
}
.about-brand ul li:before, .about-brand ol li:before{
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    background: var(--dark-green);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.the_project{
    padding: 55px 0 30px;
}
.the_project a{
    font-family: 'TStar-Headline';
    text-transform: uppercase;
    color: var(--light-green);
}
.persone {
    padding: 70px 0;
}
.persone .content-col{
    padding-right: 42px;
}
.persone h4{
    margin: 0;
}
.persone .content-col p{
    position: relative;
}
.persone .content-col p:before{
    content: '"';
    position: absolute;
    left: -60px;
    top: 1rem;
    color: var(--light-green);
    font-size: 90px;
    font-family: 'TStar-Headline';
    font-style: italic;
    line-height: 35px;
}
.brand--products{
    padding: 50px 0 200px;
}
/*======= Brands Page Ends =======*/

/*======= Shop Page =======*/
.category--banner{
    color: #FFF;
    padding: 25px 0;
    margin-bottom: 25px;
}
.category--banner h2{
    font-size: 35px;
    margin-bottom: 5px;
}
.category--banner p{
    margin: 0;
}
/*======= Shop Page Ends =======*/


/*======= Footer =======*/
.site-footer .footer-bg{
    color: #FFF;
}
.site-footer .footer-bg{
    background-color: var(--dark-green);
    border-bottom: 13px solid transparent;
    border-image: url('../images/site-border.svg');
    border-image-slice: 15;
    padding: 50px 0;
}
.site-footer .footer-bg a{
    color: #FFF;
    font-family: 'TStar-Medium';
}
.site-footer h3{
    text-transform: uppercase;  
    font-size: 18px;  
    margin-bottom: 18px;
}
.footer-bg .col{
    padding: 0 20px;
    flex: auto;
}
.footer-bg .col:not(:last-of-type){
    border-right: 1px solid #FFF;
}
.copyright-footer{
    text-align: center;
    padding: 15px 0;
    font-size: 13px;
    width: 100%;
    color: #000;
}
/*======= Footer Ends =======*/

/*======= WooCommerce =======*/
.archive-img-wrap{
    position: relative;
    overflow: hidden;
}
.archive-img-wrap img{
    transition: 0.2s ease-in;
    margin: 0 !important;
}
.archive-img-wrap:hover img{
    transform: scale(1.2);
}
.archive-img-wrap:after{
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in;
}
.archive-img-wrap:hover:after{
    box-shadow: inset 0 0 0 13px #398157;
}
.additional-info-tabs{
    margin-top: 50px;
}
.product--accordion .accordion--heading{
    font-family: 'TStar-Headline';
    cursor: pointer;
    text-transform: uppercase;
    color: var(--dark-green);
    padding-bottom: 10px;
    border-bottom: 1px solid #E5E5E5;
}
.product--accordion p{
    margin-bottom: 10px;
}
.product--accordion .accordion--panel{
    font-size: 14px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
}
.product--accordion .accordion-container .accordion--heading{
    position: relative;
}
.product--accordion .accordion-container:not(:last-child){
    margin-bottom: 15px;
}
.product--accordion .accordion-container.active .accordion--panel{    
    opacity: 1;
    max-height: 99em;
}
.product--accordion .accordion-container .accordion--heading span:before {
    content: "";
    width: 14px;
    height: 3px;
    background-color: var(--dark-green);
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    transition: all 0.3s ease-in-out;
    right: 0;
}
.product--accordion .accordion-container .accordion--heading span:after{
    content: "";
    width: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--dark-green);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.product--accordion .accordion-container.active .accordion--heading span::before {
    transform: translateY(-50%) rotate(0deg);
}
.xoo-wsc-ft-buttons-cont a.xoo-wsc-ft-btn, .xoo-wsc-body a.btn{
    background-color: var(--dark-green);
    color: #FFF;
    font-size: 17px;
    font-family: 'TStar-Headline';
}
.xoo-wsc-ft-buttons-cont a.xoo-wsc-ft-btn:hover, .xoo-wsc-body a.btn:hover{
    background-color: var(--dark-green);
    color: #FFF;
}
.xoo-wsc-cart-active .xoo-wsc-container{
    box-shadow: -10px 3px 7px rgba(0, 0, 0, 0.16);
}
.xoo-wsch-top{
    flex-wrap: wrap;
}
span.xoo-wsch-text{
    order: 2;
    position: relative;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
    color: var(--dark-green);
    font-family: 'TStar-Headline';
}
span.xoo-wsch-close{
    position: relative;
    order: 1;
    right: 0;
    font-size: 33px;
    color: #5D5D5D;
    margin-left: auto;
}
.woo-single-container, .woocommerce-breadcrumb{
    max-width: 1170px;
    margin-left: auto !important;
    margin-right: auto !important;
}
/*======= WooCommerce Ends =======*/

@media (min-width: 1200px){
    .container{
        max-width: 1040px;
    }
    .container.container-sm{
        max-width: 922px;
    }
    .common-banner .container{
        max-width: calc(100% - 168px);
    }
    .brands--banner.common-banner .container{
        max-width: calc(100% - 136px);
    }
}